# Ignorar todo por defecto
*

# Permitir archivos clave en la raíz
!.gitignore
!.main.R
!README.md
!*.Rproj
!.Renviron.example

# Permitir carpetas completas
!R/
!SQL/
!doc/
!outputs/
!rmarkdown/
!data/

# Permitir contenido dentro de esas carpetas
!R/**
!SQL/**
!doc/**
!outputs/**
!rmarkdown/**
!data/**

# Ignorar archivos innecesarios o pesados
data/conjunto_de_datos_enoe_2023_3t_csv/
data/conjunto_de_datos_enoe_2023_4t_csv/
data/raw/2023_3T/*.csv
data/raw/2023_4T/*.csv
data/raw/2023_4T/*.txt

doc/Tabulaciones/
doc/Informes/

# Seguridad
.Renviron

# Archivos temporales de RStudio
.Rproj.user/
.Rhistory
.RData

