# Ignora todo por defecto
*

# Incluye archivos y carpetas específicas en la raíz
!.gitignore
!README.md

# Incluye estas carpetas completas
!R/
!SQL/
!doc/
!outputs/
!rmarkdown/
!data/

# Ignora solo estos contenidos exactos
data/conjunto_de_datos_enoe_2023_3t_csv
data/conjunto_de_datos_enoe_2023_4t_csv

data/raw/2023_3T/vivienda.csv
data/raw/2023_3T/hogar.csv
data/raw/2023_3T/sdmgf.csv
data/raw/2023_3T/coe1.csv
data/raw/2023_3T/coe2.csv

data/raw/2023_4T/vivienda.csv
data/raw/2023_4T/hogar.csv
data/raw/2023_4T/sdmgf.csv
data/raw/2023_4T/coe1.csv
data/raw/2023_4T/coe2.csv

R/.Renviron
doc/Tabulaciones/
doc/Informes/
