# Ignorar todo por defecto
*

# Permitir archivos clave en la raíz
!.gitignore
!README.md

# Permitir carpetas completas
!R/
!SQL/
!doc/
!outputs/
!rmarkdown/
!data/

# Permitir contenido dentro de esas carpetas
!R/**
!SQL/**
!doc/**
!outputs/**
!rmarkdown/**
!data/**

# Excluir archivos específicos o pesados
data/conjunto_de_datos_enoe_2023_3t_csv/
data/conjunto_de_datos_enoe_2023_4t_csv/
data/raw/2023_3T/*.csv
data/raw/2023_4T/*.csv
doc/Tabulaciones/
doc/Informes/
R/.Renviron
